* {
    font-weight: bold;
    background-color: #E9C46A !;
}

option {
    background-color: white;
}
.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
   
}
.container {
    background-color: #2A9D8F !important;
    display: flex;
    align-items: column;
    justify-content: center;
    width: 45%;
    border-radius: 5%;
    padding-top: 25px;
}
span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

body {
    display: flex;
    background-color: #E9C46A;
    padding-top: 250px;
}


#select-genre {
    padding-top: 20%;
}

.form-label {
    padding: auto !important;

}

.form-group {
    padding-top: 30px;
}

img {
    width:140px;
    height:140px;
}

.btn-success {
    background-color: #E9C46A!important;
}

.btn-success:hover {
    background-color: #ffd774!important;
}

img.track {
    border: 1px solid #8a8a8a;
}