* {
    font-weight: bold;
    font-size: 20px;
}

option {
    background-color: white;
}

.btn.dropdown-toggle  {
    width:15px;
    text-align:left;
}

.container {
    background-color: #00a390 !important;
    width: fit-content;
    height: fit-content;
    border-radius: 5%;
    padding: 5vh;
}

#info-box {
    display: relative;
    top: 50px;
    right: 200px;
}

body {
    background-color: white;
    padding-top: none;
}

.btn-success {
    background-color: #fac84b!important;
}

.btn-success:hover {
    background-color: #ffd774!important;
}

#song-detail {
    font-weight: lighter;
    width: 100vh;
}

img {
    width: 35%;
    height: 35%;
    padding-top: none;
}

.dropdown-menu, .dropdown-menu-container {
    padding: 0;
}

@media (max-width:600px) {
    .container {
        width: 60%;
        display: relative;
    }
    }

@media (min-width: 1025px) and (max-width: 1200px) {
    .container {
        width: 70%;
    }
}
