* {
    font-weight: bold;
    font-size: 20px;
}

option {
    background-color: white;
}

.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
}

.container {
    background-color: #00a390 !important;
    width: 60vh;
    height: 40vh;
    border-radius: 5%;
    padding: 5vh;
}

.dropdown-menu {
    font-size: smaller;
    padding: 0;
}

body {
    background-color: white;
    padding-top: none;
}

#select-genre {
    padding-top: 20%;
}

/*.form-label {
    padding: auto !important;
    color: white;

}*/

.form-group {
    padding-top: 30px;
}

.btn-success {
    background-color: #fac84b!important;
}

.btn-success:hover {
    background-color: #ffd774!important;
}

img.track {
    border: 1px solid #8a8a8a;
}

/*.row {
    display: relative;
}*/

#song-detail {
    font-weight: lighter;
}

img {
    width: 35%;
    height: 35%;
    padding-top: none;
    padding-left: none;
}